/ = render partial: 'companies/partials/basic_dynamic_form', locals: {model_type: @model_type, form_fields: @form_fields}
- if @profile.errors.any?
  #error_explanation
    %h2
      = pluralize(@profile.errors.count, "error") + " prohibited this user from being saved:"
    %ul 
      - @profile.errors.full_messages.each do |msg|
        %li
          = msg
= form_for @profile, :builder => ApplicationHelper::MarkedFormBuilder do |f|
  = f.hidden_field :company_id, value: '1'
  .slight-top-margin
    = f.marked_label :first_name, @form_fields.fetch('first_name', 'First Name')
    = f.text_field :first_name
  %br/
  .slight-top-margin
    = f.marked_label :last_name, @form_fields.fetch('last_name', 'Last Name')
    = f.text_field :last_name
  %br/
  .slight-top-margin
    = f.marked_label :email, @form_fields.fetch('email', 'Email')
    = f.text_field :email
  %br/
  .slight-top-margin
    = f.marked_label :blood_group, @form_fields.fetch('blood_group', 'Blood Group')
    = f.text_field :blood_group
  %br/
  .slight-top-margin
    = f.marked_label :sll, @form_fields.fetch('sll', 'Secondary Landline')
    = f.text_field :sll
  %br/
  .slight-top-margin
    = f.marked_label :bm, @form_fields.fetch('bm', 'Birth Mark')
    = f.text_field :bm
  %br/
  .slight-top-margin
    = f.submit 'Save'