// form label override not working with dynamic form object
// =# form_for model_type.classify.constantize, :builder => ApplicationHelper::MarkedFormBuilder do |f|
/ = form_for model_type.classify.safe_constantize.new, :builder => ApplicationHelper::MarkedFormBuilder do |f|
/   - form_fields.each do |key, label|
/     = f.marked_label key.to_sym, label
/     = f.text_field key.to_sym
/   %br/
/   = f.submit 'SAVE'
