.row
  - bulk_upload_default_model_fields.each.with_index(1) do |(model, model_attributes), index|
    #accordion.panel-group
      .slight-top-margin.panel.panel-primary
        .panel-heading
          .panel-title
            %a{ "data-toggle" => "collapse", "data-parent" => "#accordion", :href => '#'+"#{model}"+'_setting_form' }
              #{model} Bulk Upload Settings
              .pull-right.btn.btn-xs.btn-success
                Show
    .panel-collapse.collapse{id: "#{model}"+'_setting_form'}
      .panel-body
        = form_for configuration, html: {class: "bu_settings" ,id: "#{model}"+'_bu_settings', data: {"conf": "#{model}"}} do |cc|
          = hidden_field_tag :scope, "#{model}_bu_headers_sequence"
          = hidden_field_tag :company_id, company.id if company.present?
          .slight-top-margin
            = label_tag 'Select All'
            = check_box_tag "#{model}"+'_select_all', nil, false,  class: "#{model}_select_all select_all", id: "#{model}_select_all", data: {conf:"#{model}"}
            .row
              - model_attributes.each do |field, label|
                .col-md-2
                  .label-card.checkbox-inline.slight-top-margin
                    = check_box_tag "#{model}_bu_headers_sequence[#{field}]", configuration.send("#{model}_bu_headers_sequence")[field], cc.object.send("#{model}_bu_headers_sequence").keys.include?(field.to_s), class: "selectable #{model}_selectable #{model}_sortable_checkbox sortable_checkbox", data: {list_id:"#{model}_list_fields", conf:"#{model}"}
                    = label_tag field
              .col-md-10.field.slight-top-margin
                %table.drag_drop{class: "#{model}_list_fields #{model}_drag_drop", data: {"conf": "#{model}"}}
                  %thead
                    %span.bold #{model} List (sortable)
                  %tbody.ui-sortable{data: {"conf": "#{model}"}}
                    - unless configuration.send("#{model}_bu_headers_sequence").blank?
                      - configuration.send("#{model}_bu_headers_sequence").each.with_index(1) do |(header, sequence), index|
                        - index = index.to_s
                        - unless configuration.send("#{model}_bu_headers_sequence").key(index).blank?
                          %tr{class: "#{model}_field_tr"}
                            %td.priority
                              = index
                            %td{id: "#{model}_bu_headers_sequence_#{header}"}
                              = configuration.send("#{model}_bu_headers_sequence").key(index).humanize
                  }
          = cc.submit "Save", class: "btn btn-danger"