%h3.slight-top-margin
  #{@company.name} Configuration Page
%br/

= render partial: "companies/bu_default_model_fields", locals: {company: @company, configuration: @configuration, bulk_upload_default_model_fields: @bulk_upload_default_model_fields}
