<p id="notice"><%= notice %></p>
<h1 class='slight-top-margin'>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registered name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.registered_name %></td>
        <td><%= company.email %></td>
        <td><%= link_to 'Configuration', configuration_company_path(company), target: '_blank'%></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
