= form_for @bulk_upload_request, html: {multipart: true} do |f|
  .slight-top-margin
    = label_tag "Choose Company"
    = select_tag :company_id, options_from_collection_for_select(@companies, :id, :name)
  %br/
  .slight-top-margin
    = label_tag "Choose Functionality"
    = select_tag :model_name, options_for_select(@model_names, "report")
  #configuration
  #spreadsheet.block_spreadsheet.cal
  .slight-top-margin
    #progressbar.hidden
      .progress-label
    = label_tag 'Excel sheet',nil, class: 'excel_sheet'
    = file_field_tag :bulk_upload, accept:".xlsx"
    %br/
    = submit_tag "Submit and Send Email" , id: 'submit_bulk_upload_excel'

    .after_completion_actions.cal.hidden
      %f14 Do you want to upload more?
      = link_to "Yes", new_bulk_upload_request_path, method: :get
      = link_to "No", root_url, method: :get