:plain
  $("#configuration").html("#{escape_javascript(render :partial => "companies/bu_default_model_fields", locals: {company: @company, configuration: @company.configuration, bulk_upload_default_model_fields: @bulk_upload_default_model_fields})}");