<p id="notice"><%= notice %></p>

<h1>Bulk Upload Requests</h1>

<table>
  <thead>
    <tr>
      <th>Json store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_upload_requests.each do |bulk_upload_request| %>
      <tr>
        <td><%= bulk_upload_request.json_store %></td>
        <td><%= link_to 'Show', bulk_upload_request %></td>
        <td><%= link_to 'Edit', edit_bulk_upload_request_path(bulk_upload_request) %></td>
        <td><%= link_to 'Destroy', bulk_upload_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulk Upload Request', new_bulk_upload_request_path %>
