%p.slight-top-margin
  #notice
    = notice

%h1.slight-top-margin
  Json store:
  %br/
  = @bulk_upload_request.json_store

%br/
= link_to 'Edit', edit_bulk_upload_request_path(@bulk_upload_request)
%br/
= link_to 'Back', bulk_upload_requests_path
