= form_for @email do |f|
  - if @email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@email.errors.count, "error")} prohibited this email from being saved:"
      %ul
        - @email.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :resource_id
    = f.number_field :resource_id
  .field
    = f.label :resource_type
    = f.text_field :resource_type
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :json_store
    = f.text_field :json_store
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :delivered_at
    = f.datetime_select :delivered_at
  .actions
    = f.submit 'Save'
