%h1.slight-top-margin
  Listing emails

%table
  %thead
    %tr
      %th Resource
      %th Resource type
      %th Email
      %th Json store
      %th Status
      %th Delivered at
      %th
      %th
      %th

  %tbody
    - @emails.each do |email|
      %tr
        %td= email.resource_id
        %td= email.resource_type
        %td= email.email
        %td= email.json_store
        %td= email.status
        %td= email.delivered_at
        %td= link_to 'Show', email
        %td= link_to 'Edit', edit_email_path(email)
        %td= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Email', new_email_path
