%p#notice= notice

%p
  %b Resource:
  = @email.resource_id
%p
  %b Resource type:
  = @email.resource_type
%p
  %b Email:
  = @email.email
%p
  %b Json store:
  = @email.json_store
%p
  %b Status:
  = @email.status
%p
  %b Delivered at:
  = @email.delivered_at

= link_to 'Edit', edit_email_path(@email)
\|
= link_to 'Back', emails_path
